<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamUtilities.StreamUtilitiesSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StreamUtilities.StreamUtilitiesSettings>
            <setting name="TwitchUsername" serializeAs="String">
                <value>[username]</value>
            </setting>
            <setting name="TwitchAccessToken" serializeAs="String">
                <value>[access token]</value>
            </setting>
            <setting name="TwitchChannel" serializeAs="String">
                <value>[channel]</value>
            </setting>
            <setting name="WinOpacity" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EnableTwitchNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WinCaptureEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwitchIgnoreNames" serializeAs="String">
                <value>commanderroot,aliceydra,0ax2,streamlabs,streamlabsbot,restream,restreambot,lurxx,saralna</value>
            </setting>
        </StreamUtilities.StreamUtilitiesSettings>
    </userSettings>
</configuration>