<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamUtilities.StreamUtilitiesSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <StreamUtilities.StreamUtilitiesSettings>
            <setting name="Hotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TwitchUsername" serializeAs="String">
                <value>beagleinteractive</value>
            </setting>
            <setting name="TwitchAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchChannel" serializeAs="String">
                <value>beagleinteractive</value>
            </setting>
            <setting name="WinOpacity" serializeAs="String">
                <value>60</value>
            </setting>
        </StreamUtilities.StreamUtilitiesSettings>
    </userSettings>
</configuration>